<div class="table-wrapper">
  <table class="table container">
    <thead>
      <tr class="table-head">
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users; let i = index">
      <tr [class]="i % 2 !== 0 ? 'table-row odd' : 'table-row'">
        <td>{{ user.id }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <button
    [disabled]="pageno === 1 || isLoading ? true : false"
    (click)="onFirst()"
    class="btn btn-secondary"
  >
    first
  </button>
  <button
    [disabled]="pageno === 1 || isLoading ? true : false"
    (click)="onPrevious()"
    class="btn btn-primary"
  >
    prev
  </button>
  <button
    (click)="onNext()"
    [disabled]="pageno === totalPage || isLoading ? true : false"
    class="btn btn-info"
  >
    next
  </button>
  <button
    (click)="onLast()"
    [disabled]="pageno === totalPage || isLoading ? true : false"
    class="btn btn-success"
  >
    last
  </button>
</div>
